/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

.all {
  font-family: 'Rubik', helvetica, sans-serif;
}

input {
  border: none;
  border-bottom: solid 3px black;
  background: transparent;
  outline: none;
}

.title {
  font-size: 10vw;
}

.current-temp {
  font-size: 30vw;
}

.degrees {
  font-size: 10vw;
  padding-top: 5vw;
}

@media only screen and (min-width: 1000px) {
  .title {
    font-size: 8vw;
  }
  .current-temp {

  }
}

 /* ========================================
  * Temperature
  * ======================================== */
.cold, .warm, .hot {
  background-repeat: no-repeat;
  background-size: cover;
}

.cold {
  background: #212fff
}

.warm {
  background: #ff992d
}

.hot {
  background: #f45641
}

 .cold .all {
   background: linear-gradient(#20ecff, #212fff);
 }

 .warm .all {
   background: linear-gradient(#f4eb41, #ff992d);
 }

 .hot .all{
   background: linear-gradient(#f4a641, #f45641);
 }



 /* ========================================
  * Weather
  * ======================================== */
.icon {
  width: 20vw;
  height: 20vw;
  background-repeat: no-repeat;
}

.condition {
  max-width: 600px;
}


.thunderstorm {

}

.drizzle {

}

.rain {

}

.snow {

}

.atmosphere {

}

.clear .icon {
  background-image: url(/assets/clear.svg);
}

.clouds .icon {
  background-image: url(/assets/clouds.svg);
}

/* ========================================
 * Wind
 * ======================================== */

 .calm {
   background-image: url(assets/calm.svg);
 }

 .breezy {

 }

 .windy {

 }

 /* ========================================
  * text
  * ======================================== */

p, h1, input, img, .divider {
  color: black;
  mix-blend-mode: overlay;
}

p, h1, input, img {
  margin: 0;
}
