/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */


input {
  border: none;
  border-bottom: solid 3px black;
  background: transparent;
  outline: none;
}

.title {
  font-size: 10vw;
}

.current-temp {
  font-size: 30vw;
}

 /* ========================================
  * Temperature
  * ======================================== */
 .cold .all{
   background-image: linear-gradient(cyan, blue);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
 }

 .warm {
   background: orange;
 }

 .hot{
   background: tomato;
 }



 /* ========================================
  * Weather
  * ======================================== */
.thunderstorm {

}

.drizzle {

}

.rain {

}

.snow {

}

.atmosphere {

}

.clear {

}

.clouds {

}

/* ========================================
 * Wind
 * ======================================== */

 .calm {

 }

 .breezy {

 }

 .windy {

 }

 /* ========================================
  * text
  * ======================================== */

p, h1, input {
  color: black;
  mix-blend-mode: overlay;
  margin: 0;
}
