/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

.all {
  font-family: 'Rubik', helvetica, sans-serif;
}

input {
  border: none;
  border-bottom: solid 3px black;
  background: transparent;
  outline: none;
}

.title {
  font-size: 10vw;
}

.current-temp {
  font-size: 30vw;
}

.degrees {
  font-size: 10vw;
  padding-top: 5vw;
}

 /* ========================================
  * Temperature
  * ======================================== */
 .cold .all {
   background: linear-gradient(#20ecff, #212fff);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
 }

 .warm .all {
   background: linear-gradient(#f4eb41, #ff992d);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
 }

 .hot .all{
   background: linear-gradient(#f4a641, #f45641);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
 }



 /* ========================================
  * Weather
  * ======================================== */
.thunderstorm {

}

.drizzle {

}

.rain {

}

.snow {

}

.atmosphere {

}

.clear {
  background-image: url(assets/clear.svg);
}

.clouds {

}

/* ========================================
 * Wind
 * ======================================== */

 .calm {
   background-image: url(assets/calmn.svg);
 }

 .breezy {

 }

 .windy {

 }

 /* ========================================
  * text
  * ======================================== */

p, h1, input, img, .divider {
  color: black;
  mix-blend-mode: overlay;
}

p, h1, input, img {
  margin: 0;
}
